@model ShoeStore.Presentation.ViewModel.NewItemVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string buttonText = "Add";
    if(!Model.Item.Id.Equals(new Guid()))
    {
        buttonText = "Edit";
    }
}
@*@if (Session["admin"] == null)
{
    Response.Redirect("/");
}*@

<div class="row">
    <div class="col-lg-4">
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                <div class="form-group">
                    @Html.TextBoxFor(model => Model.Item.Model, htmlAttributes: new { @class = "form-control input-sm", placeholder = "Model", type = "text" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => Model.Item.Brand, htmlAttributes: new { @class = "form-control input-sm", placeholder = "Brand", type = "text" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(model => Model.Item.Sex, htmlAttributes: new { @class = "form-control input-sm", placeholder = "Sex", type = "text" })
                </div>
                <div class="form-group">
                    @Html.TextAreaFor(model => Model.Item.Description, htmlAttributes: new { @class = "form-control input-sm", placeholder = "Description", type = "text" })
                </div>
                @Html.TextBoxFor(model => Model.Item.Id, htmlAttributes: new { @class = "", type = "hidden" })
                <input type="submit" value="@buttonText" class="btn btn-info btn-block">
                if (buttonText.Equals("Edit"))
                {
                    <br/>
                    <p><i><input type="button" value="Cancel" onclick="location.href='@Url.Action("Index", "Admin")'" class="btn btn-info btn-block" /></i></p>
                }
            }
        </div>

    </div>
    <div class="col-lg-8">
        <table width="100%">
            <tr>
                <th>
                    <p><i>Brand</i></p>
                </th>
                <th>
                    <p><i>Model</i></p>
                </th>
                <th>
                    <p><i>Sex</i></p>
                </th>
                <th>
                    <p><i>ID</i></p>
                </th>
                <th>
                    <p><i>Edit</i></p>
                </th>
                <th>
                    <p><i>Delete</i></p>
                </th>
            </tr>
            @foreach (var item in Model.AllItems)
            {
                <tr>
                    <th>
                        <p>@item.Brand</p>
                    </th>
                    <th>
                        <p>@item.Model</p>
                    </th>
                    <th>
                        <p>@item.Sex</p>
                    </th>
                    <th>
                        <p>@item.Id</p>
                    </th>
                    <th>
                        <p><input type="button" value="&#xe869;" onclick="location.href='@Url.Action("Edit", "Admin", new { id = item.Id })'"class="material-icons btn btn-success"/></p>
                    </th>
                    <th>
                        <p><input type="button" value="&#xe92b;" onclick="location.href='@Url.Action("Remove", "Admin", new { id = item.Id })'"  title="Removes links with all stores"  class="material-icons btn btn-danger"/></p>
                    </th>
                </tr>
            }
        </table>
    </div>
</div>