@using PagedList.Mvc;
@using PagedList;
@model ShoeStore.Presentation.ViewModel.HomeModel
@{
    ViewBag.Title = "Home Page";
    string searchNull = "";
    if(Request.RawUrl.Contains("Search"))
    {
        searchNull = "Search";
    }
}
<div class="row">
    <div class="col-md-3">
        <p>
            Sort By Price:
            <input type="button" value="&#x25B2;" onclick="location.href='@Url.Action("Ascending", "Home", new { search=@searchNull })'" class="btn btn-default"/>
            <input type="button" value="&#x25BC;" onclick="location.href='@Url.Action("Index", "Home", new { search=@searchNull })'" class="btn btn-default"/>
        </p>
        @Html.Partial("Search", Model.SearchModel)
    </div>
    <div class="col-md-9">
        @foreach (var item in Model.ItemsVM)
        {
            @Html.Partial("ItemPreview", item)
        }
        @Html.PagedListPager(Model.ItemsVM, page => Url.Action(null, new { search = @searchNull, page }), new PagedListRenderOptions(){
            Display = PagedListDisplayMode.IfNeeded,
            DisplayPageCountAndCurrentLocation = true,
            DisplayEllipsesWhenNotShowingAllPageNumbers = true
      })
    </div>
</div>
