@model ShoeStore.Presentation.ViewModel.ItemVM

<div class="card effect">
    <a href="@Url.Action("Item", "Items", new { item = Model})">
        <h1>@Model.Model (@Model.Brand)</h1>
        <img src="" height="100" />
        <div class="row">
            <div class="col-md-6">
                <p>@Model.Sex</p>
            </div>
            <div class="col-md-6">
                <p>@Model.Price</p>
            </div>
        </div>
     </a>
</div>